<h2 class="p-text-bold p-mb-0">Manage Sub-Scheme-Types</h2>
<div class="top-bar"  style="display: flex; gap:20px">
  <input
      pInputText
      type="text"
      placeholder="Search SAOs..."
      [(ngModel)]="searchQuery"
      (input)="onSearchChange()"
    />
    <p-dropdown
      [options]="filterOptions"
      [(ngModel)]="selectedFilter"
      placeholder="Filter by..."
      (onChange)="onFilterChange()"
    ></p-dropdown>

</div>
<br>
<br>
<button style="align-self: right inherit;"
  pButton
  type="button"
  label="Create Sub-Scheme-Types"
  icon="pi pi-plus"
  class="p-button-success p-button-lg"
  (click)="openDialog()"
></button>
<div class="card">
    <p-table   [value]="items"
    class="p-mt-3"
    [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="pageSize"
    [lazy]="true" 
    (onLazyLoad)="onPageChange($event)"
    [totalRecords]="totalItems" 
    [rowsPerPageOptions]="[5, 10, 20, 50]"
    [showCurrentPageReport]="true" 
    [loading]="loading">
      <ng-template pTemplate="header">
        <tr>
          <th>Sub-Scheme-Type</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
          <td>{{ item.type }}</td>
          <td>{{ item.description }}</td>
          <td>
            <p-tag 
                (click)="confirmToggleStatus(item)" 
                [value]="item.isactive ? 'Active' : 'Inactive'" 
                [severity]="item.isactive ? 'success' : 'danger'" 
                [style]="{ cursor: 'pointer' }"
            ></p-tag>
          </td>
          <td class="actions-cell" style="display: flex; gap: 10px;">
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-rounded p-button-info"
              (click)="openDialog( item,true,i)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="deleteSubSchemeType(i)" 
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  
    <!-- Show spinner while loading -->
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    <p-dialog
    [header]="isEditMode ? 'Edit Scheme-Type' : 'Create Scheme-Type'"
    [(visible)]="displayDialog"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '500px' }"
    class="custom-dialog"
  >
    <div class="p-fluid">
      <div class="p-field">
        <label for="SubSchemeType">Sub-Scheme-Type</label>
        <input
          id="SubSchemeType"
          type="text"
          pInputText
          [(ngModel)]="item.type"
          class="custom-input"
        />
      </div>

      <div class="p-field">
        <label for="description">Description</label>
        <input
          id="description"
          type="text"
          pInputText
          [(ngModel)]="item.description"
          class="custom-input"
        />
      </div>
    </div>

    <p-footer class="custom-footer">
      <button
        pButton
        icon="pi pi-check"
        [label]="isEditMode ? 'Update Sub-Scheme-Type' : 'Create Sub-Scheme-Type'"
        class="p-button-primary p-mr-2"
        (click)="saveSubSchemeType()"
      ></button>
      <button
        pButton
        label="Cancel"
        icon="pi pi-times"
        class="p-button-secondary"
        (click)="displayDialog = false"
      ></button>
    </p-footer>
  </p-dialog>
  </div>