<h2 class="p-text-bold p-mb-0">Manage Departments</h2>
<div class="search-container" style="display: flex; gap:20px;">
  <div>
    <input
    pInputText
    type="text"
    placeholder="Searchitems..."
    [(ngModel)]="searchQuery"
    (input)="onSearchChange()"
  />
  <p-dropdown
    [options]="filterOptions"
    [(ngModel)]="selectedFilter"
    placeholder="Filter by..."
    (onChange)="onFilterChange()"
  ></p-dropdown>
  </div>

  <button type="button" pButton icon="pi pi-plus" (click)="openDialog()">Create Department</button>
</div>
<div class="card">
  <p-table   [value]="items"
  class="p-mt-3"
  [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
  responsiveLayout="scroll"
  [paginator]="true"
  [rows]="pageSize"
  [lazy]="true" 
  (onLazyLoad)="onPageChange($event)"
  [totalRecords]="totalItems" 
  [rowsPerPageOptions]="[5, 10, 20, 50]"
  [showCurrentPageReport]="true" 
  [loading]="loading">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Demand Code</th>
        <th>Address</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex">
      <tr>
        <td>{{item.code }}</td>
        <td>{{item.name }}</td>
        <td>{{item.demandCode }}</td>
        <td>{{item.address }}</td>
        <td>
          <p-tag 
              (click)="confirmToggleStatus(item)" 
              [value]="item.isactive ? 'Active' : 'Inactive'" 
              [severity]="item.isactive ? 'success' : 'danger'" 
              [style]="{ cursor: 'pointer' }"
          >
          </p-tag>
      </td>
        <td style="display: flex; gap: 10px;">
          <button type="button" pButton icon="pi pi-pencil"   class="p-button-rounded p-button-info" (click)="openDialog(true, index)"></button>
          <button type="button" pButton icon="pi pi-trash"    class="p-button-rounded p-button-danger" (click)="deleteDepartment(index)"></button>
        </td>
       
      </tr>
    </ng-template>
  </p-table>
  <!-- Show spinner while loading -->
  <p-progressSpinner *ngIf="loading"></p-progressSpinner>
</div>

<!-- Dialog for creating/updatingitems -->
<p-dialog [(visible)]="displayDialog" [modal]="true" [style]="{ width: '70vw' }">
  <p-header>{{ isEditMode ? 'Updateitem' : 'Createitem' }}</p-header>
  <form>
    <div class="p-fluid">
      <div class="p-field">
        <label for="name">Name</label>
        <input id="name" type="text" [(ngModel)]="item.name" name="name" />
      </div>
      <div class="p-field">
        <label for="code">Code</label>
        <input id="code" type="text" [(ngModel)]="item.code" name="code" />
      </div>
      <div class="p-field">
        <label for="demandCode">Demand Code</label>
        <input id="demandCode" type="text" [(ngModel)]="item.demandCode" name="demandCode" />
      </div>
      <div class="p-field">
        <label for="address">Address</label>
        <input id="address" type="text" [(ngModel)]="item.address" name="address" />
      </div>
    </div>
  </form>
  <p-footer>
    <button type="button" pButton icon="pi pi-times" (click)="displayDialog = false">Cancel</button>
    <button type="button" pButton icon="pi pi-check" (click)="saveDepartment()">Save</button>
  </p-footer>
</p-dialog>
