<h2 class="p-text-bold p-mb-0">Manage Minor-Heads</h2>
<div class="top-bar"  style="display: flex; gap:20px;">


</div>
<!-- MAJOR HEAD DROPDOWN -->
<div style="display: flex; gap: 30px; margin-left: 200px; align-items: center;">
  <div class="dropdown-container">
    <label for="majorHeadDropdown" class="dropdown-label">Major Head:</label>
    <p-dropdown 
      id="majorHeadDropdown"
      [options]="majorHeadOptions" 
      [(ngModel)]="selectedMajorHead" 
      placeholder="Select Major Head"
      [filter]="true"
      filterPlaceholder="Search MajorHead"
      (onChange)="onMajorHeadChange()">
    </p-dropdown>
  </div>

  <!-- SUB-MAJOR HEAD DROPDOWN (Only appears if Major Head is selected) -->
  <div class="dropdown-container" *ngIf="subMajorHeadOptions.length > 0">
    <label for="subMajorHeadDropdown" class="dropdown-label">Sub-Major Head:</label>
    <p-dropdown 
      id="subMajorHeadDropdown"
      [options]="subMajorHeadOptions"
      [(ngModel)]="selectedSubMajorHeadId" 
      placeholder="Select Sub-Major Head"
      [filter]="true"
      filterPlaceholder="Search SubmajorHead"
      (onChange)="getMinorHeadBySubMajorHeadId()">
    </p-dropdown>
  </div>

  <!-- MINOR HEAD CODE DROPDOWN (Only appears if Sub-Major Head is selected) -->
  <div class="dropdown-container" *ngIf="minorHeadOptions.length > 0">
    <label for="minorHeadCodeDropdown" class="dropdown-label">Minor Head Code:</label>
    <p-dropdown 
      id="minorHeadCodeDropdown"
      [options]="minorHeadOptions"
      [(ngModel)]="selectedMinorHeadCode" 
      placeholder="Select Minor Head Code"
      [filter]="true"
      filterPlaceholder="Search MinorHead"
      (onChange)="onMinorHeadCodeChange()">
    </p-dropdown>
  </div>
</div>

<!-- RESET FILTERS BUTTON -->
<p-button (click)="resetFilters()">Reset Filters</p-button>

<!-- TABLE OF MINOR HEADS -->
<div class="card">
  <p-table   [value]="items"
  class="p-mt-3"
  [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
  responsiveLayout="scroll"
  [paginator]="true"
  [rows]="pageSize"
  [lazy]="true" 
  (onLazyLoad)="onPageChange($event)"
  [totalRecords]="totalItems" 
  [rowsPerPageOptions]="[5, 10, 20, 50]"
  [showCurrentPageReport]="true" 
  [loading]="loading">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Sub-Major-Id</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.code }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.subMajorId }}</td>
      </tr>
    </ng-template>
  </p-table>
  <p-progressSpinner *ngIf="loading"></p-progressSpinner>
</div>